p{
    color:blueviolet;
    font-style: italic;
    font-weight: bold;


}

h1{
    color: yellowgreen;
    text-transform: uppercase;
    background-color: darkcyan;
}

h2{
    text-transform: uppercase; 
}

.prueba{
    color:teal;
    font-size: 19px;
}

#azul{
    width: 300px; /*ancho*/
    height: 300px; /*alto*/
    background-color: blue;
}

#verde{
    width: 300px; /*ancho*/
    height: 300px; /*alto*/
    background-color: green;
    color: white;
    text-align: center;
}
