/*font-family: 'Encode Sans SC', sans-serif;
font-family: 'Montserrat', sans-serif;*/

h1,h2{
    font-family: 'Montserrat', sans-serif;
}

h2{
    color: rebeccapurple;
}

p{
    font-family: 'Encode Sans SC', sans-serif;
}