@charset "utf-8";
/* CSS Document */

body {
	color: #000;
	background: #332F29;
	font-size:100%;
}
#contenedor {
	width: 800px;
	background: #8FA68E;
	margin-right:auto;
	margin-left:auto;
	overflow: hidden;
}
nav {
	background: #CC3910;
	float: left;
	width: 160px;
}
ul {
	list-style-type:none;
}
a {
	color:#F1F2C0;
	text-decoration: none;
}
section {
	background: #F1F2C0;
	float: left;
	margin: 0 0 0 25px;
	width: 400px;
}
aside {
	background: #CCC59E;
	float: right;
	width: 190px;
}

@media screen and (min-width: 230px) and (max-width: 800px) {
	.contenedor{
		width: 100%;
		background: #8FA68E;
		margin-left: 0%;
	}

	body {
		margin:0;
		
	}
	
	nav {
		width:100%;
		background: #ffcc66;
	}

	nav ul{
		margin: 0;
	}

	nav ul li a {
		color:#000;
		padding: 0.5em;
		display: block;
		
	}

	section{
		
		width: 100%;
		border-top: solid black 1px;
		padding: 0.8em;
		float: inline-end;
		margin-left: 0%;
		
        line-height: 1;
		
		
	}

	aside {
		width:100%;
		border-top: solid black 1px;
		padding: 0.8em;
		float: inline-end;
		/*height: 120px;
		/*margin-left: 0%;*/
        line-height: 1;
		
	}

    aside p{
        padding: 10px;
        margin: 10px;
        line-height: 1;
        
    }

    aside h2{
        padding: 10px;
        margin: 10px;
        line-height: 1;
    }

    section p{
        padding: 7px;
        margin: 7px;
        line-height: 1;
        margin-left: 0%;
    }

    section h2{
        padding: 7px;
        margin: 7px;
        line-height: 1;
        margin-left: 0%;
    }


}
